* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#task-list {
    margin-top: 20px;
}

#task-list li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#task-list .completed {
    text-decoration: line-through;
}

.search-input {
    margin-top: 20px;
}
